In [1]:
import pandas

# Lecture du fichier csv
products = pandas.read_csv('data/comments_on_products_pn.csv')

# Affichage des données
products.head()

,name,review,label
0,"Diono Stroller Fan, Bright,",use this to keep my daughter cool in her car s...,positive
1,"North States Superyard Play Yard, Grey, 6 Panel",wish it had a door or swing door attachment. w...,negative
2,YKS Cute Children Waterproof Apron With Cartoo...,"Cute, but not super sturdy. It will work for a...",negative
3,Fisher-Price Precious Planet Jumperoo,My baby boy adores his jumperoo. He has had th...,positive
4,"Nursery 101 Sidney Convertible Crib, White",I love this crib! It is the perfect width and ...,positive

In [2]:
# Nombre de lignes et colonnes
products.shape

(1003, 3)

In [3]:
# Calcul du nombre de labels positifs et négatifs
products.label.value_counts()

positive    782
negative    221
Name: label, dtype: int64

In [4]:
# Affichage du type de chaque colonne (infos type base de données)
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003 entries, 0 to 1002
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    1001 non-null   object
 1   review  1002 non-null   object
 2   label   1003 non-null   object
dtypes: object(3)
memory usage: 23.6+ KB

In [5]:
# blabla
from sklearn.feature_extraction.text import CountVectorizer

# On initialise le CountVectorizer en fonction des mots
bag_of_words = CountVectorizer(stop_words="english", analyzer='word')

# Application du drop_na pour enlever les valeurs vides
products.dropna(subset=['review','name'], inplace=True)

# Transformation en "sac de mots" (bag of words)
data_words = bag_of_words.fit_transform(products.review)

# Affichage des valeurs
print(bag_of_words.get_feature_names()[400:420])

['babbles', 'babes', 'babies', 'babiesrus', 'baby', 'babybjorn', 'babyish', 'babysit', 'babysitting', 'babyview20', 'bach', 'backed', 'background', 'backing', 'backless', 'backpack', 'backpacks', 'backs', 'backup', 'backward']

In [6]:
# Nombre de mots uniques (5787)
data_words.shape

(1000, 5787)

In [7]:
pandas.DataFrame(data_words.toarray())

,0,1,2,3,4,5,6,7,8,9,...,5777,5778,5779,5780,5781,5782,5783,5784,5785,5786
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
pandas.DataFrame(data_words.toarray()).head()

,0,1,2,3,4,5,6,7,8,9,...,5777,5778,5779,5780,5781,5782,5783,5784,5785,5786
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# Affichage des mots
# bag_of_words.vocabulary_

In [10]:
# Affichage des mots par ordre alphabétique
# sorted(bag_of_words.vocabulary_)

In [11]:
# Affichage des mots stop_word
print(bag_of_words.get_stop_words())

frozenset({'whence', 'enough', 'name', 'with', 'thereby', 'my', 'anything', 'whose', 'anywhere', 'the', 'whatever', 'latter', 'not', 'everyone', 'none', 'also', 'against', 'even', 'else', 'must', 'side', 'others', 'few', 'amoungst', 'further', 'un', 'but', 'go', 'hereupon', 'between', 'each', 'take', 'fifteen', 'than', 'it', 'herself', 'you', 'made', 'if', 'inc', 'whether', 'such', 'more', 'upon', 'ever', 'someone', 'meanwhile', 'almost', 'call', 'here', 'wherein', 'seems', 'seemed', 'twenty', 'yet', 'together', 'otherwise', 'was', 'back', 'keep', 'now', 'move', 'thus', 'besides', 'eleven', 'somehow', 'becoming', 'couldnt', 'have', 'nor', 'thereupon', 'co', 'every', 'around', 'nothing', 'either', 'once', 'whereupon', 'via', 'up', 'what', 'however', 'hers', 'cry', 'nine', 'serious', 'am', 'everywhere', 'namely', 'their', 'hence', 'during', 'an', 'its', 'noone', 'so', 'found', 'never', 'well', 'nowhere', 'me', 'why', 'mine', 'hundred', 'been', 'through', 'become', 'third', 'hasnt', 'yours', 'done', 'very', 'be', 'see', 'some', 'yourselves', 'two', 'amount', 'us', 'he', 'always', 'eg', 'though', 'thence', 'behind', 'thin', 'something', 'give', 'wherever', 'nobody', 'thereafter', 'except', 'or', 'most', 'themselves', 'as', 'i', 'without', 'were', 'do', 'at', 'being', 'which', 'seeming', 'least', 'across', 'other', 'because', 'could', 'can', 'within', 'less', 'towards', 'where', 'one', 'since', 're', 'to', 'by', 'will', 'ours', 'many', 'out', 'detail', 'fill', 'your', 'onto', 'part', 'bill', 'both', 'find', 'still', 'seem', 'last', 'becomes', 'etc', 'this', 'sometimes', 'interest', 'six', 'whoever', 'cannot', 'in', 'alone', 'himself', 'indeed', 'beyond', 'they', 'neither', 'these', 'beside', 'ltd', 'system', 'above', 'same', 'empty', 'toward', 'mostly', 'full', 'twelve', 'amongst', 'whereby', 'con', 'had', 'cant', 'has', 'forty', 'off', 'latterly', 'who', 'former', 'itself', 'somewhere', 'too', 'five', 'top', 'below', 'a', 'any', 'three', 'moreover', 'whole', 'how', 'those', 'sincere', 'yourself', 'formerly', 'mill', 'often', 'thick', 'into', 'our', 'are', 'already', 'is', 'became', 'again', 'ie', 'we', 'rather', 'nevertheless', 'along', 'afterwards', 'then', 'fire', 'sometime', 'beforehand', 'she', 'should', 'throughout', 'therein', 'de', 'them', 'may', 'front', 'due', 'him', 'per', 'please', 'bottom', 'herein', 'anyhow', 'until', 'under', 'four', 'therefore', 'whither', 'on', 'elsewhere', 'describe', 'there', 'his', 'when', 'whom', 'anyway', 'from', 'over', 'another', 'myself', 'whereafter', 'before', 'only', 'whenever', 'down', 'might', 'much', 'among', 'several', 'fifty', 'would', 'put', 'get', 'own', 'and', 'everything', 'next', 'first', 'whereas', 'although', 'ten', 'of', 'all', 'perhaps', 'show', 'that', 'thru', 'no', 'hereafter', 'after', 'about', 'sixty', 'her', 'for', 'while', 'hereby', 'eight', 'ourselves', 'anyone'})

In [12]:
# Extraction d'un autre éditeur
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
tfidf_data = vectorizer.fit_transform(products['review'])

In [13]:
x=data_words
y=products['label']

print('data  shape :', x.shape)
print('label  shape :', len(y))

data  shape : (1000, 5787)
label  shape : 1000

In [14]:
# Séparation des données pour l'entraînement au jeu de test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x.toarray(), y, random_state = 1)

In [15]:
# Instantiation de la classe SVC(Classification / SVR => Regression)
from sklearn.svm import SVC  
svclassifier = SVC()

# Recherche de la classification dans le jeu de donnée
svclassifier.fit(x_train, y_train)

SVC()

In [16]:
# Affichage des classes
svclassifier.classes_

array(['negative', 'positive'], dtype=object)

In [17]:
# Prédiction de x_test
y_pred = svclassifier.predict(x_test)

In [18]:
from sklearn.metrics import classification_report, confusion_matrix  
print(confusion_matrix(y_test, y_pred))  
print(classification_report(y_test, y_pred))

[[  0  42]
 [  0 208]]
              precision    recall  f1-score   support

    negative       0.00      0.00      0.00        42
    positive       0.83      1.00      0.91       208

    accuracy                           0.83       250
   macro avg       0.42      0.50      0.45       250
weighted avg       0.69      0.83      0.76       250

C:\Users\doria\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\doria\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\doria\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [19]:
# Package pour calculer la précision globale
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.832

In [20]:
# Vrai positif
print(208/250)

0.832

In [21]:
# Valeur pour le commentaire 93
y_pred[93]

'positive'

In [22]:
# Commentaire 93
products['review'][93]

'I sometimes think that there is an addictive substance hidden within our Sophie. Man, my toddler loves NOTHING more then this little creation. I initially scoffed at the price of this item and held out on buying it- until I saw my little guy try to steal it from a friend. The next day he got his own Sophie, and I became a believer. The price of this toy far outweighed the possible embarassment of him getting caught red handed again :) WORTH EVERY PENNY!'

In [23]:
# Commentaire 93
products['label'][93]

'positive'